[run]
omit =
    tests/*
    */test*.py
    */migrations/*
    */wsgi.py
    */apps.py
    *_version.py
parallel = true

[paths]
source =
    pips3 

[report]
precision = 2
include =
    pips3/*.py 
exclude_lines =
    def __str__
    pragma: no cover

[html]
directory = coverage_html_report
