include README.rst
include versioneer.py
include s3pkgup/_version.py
include s3pkgup/data/index.html.j2

recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
